@import url(https://fonts.googleapis.com/css?family=Special+Elite:400);
@import "tailwindcss";

:root {
  --background-color: #ede6da;
  --foreground-color: #fff9e9;
  --background: #fdf9f2;
  --foreground: rgba(0, 0, 0, 0.7);
  --primary: #002bba;
  --secondry: #fdf9f2;
  --font-mono: "Special Elite", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondry: var(--secondry);
  --font-mono: var(--font-special-elite);
}

html {
  width: 100svw;
  height: 100svh;
  scroll-behavior: smooth;
}

body {
  width: 100svw;
  height: 100svh;
  color: var(--foreground);
  font-family: var(--font-mono);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.noise {
  z-index: 9999;
  pointer-events: none;
  user-select: none;
  width: calc(200svw + 20rem);
  height: calc(200svh + 20rem);
  position: fixed;
  top: -10rem;
  left: -10rem;
  opacity: 0.1;
  mix-blend-mode: multiply;
  background-image: url("/noise.webp");
  animation: noise-animation 0.5s steps(2, end) infinite;
}

/* 🔥 MUHIM QISM */
@keyframes noise-animation {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-5%, 5%);
  }
  50% {
    transform: translate(-10%, -5%);
  }
  75% {
    transform: translate(5%, -10%);
  }
  100% {
    transform: translate(0, 0);
  }
}
