@import "tailwindcss";

:root {
  --background: #FDF9F2;
  --foreground: #002BBA;
  --primary: #002BBA;
  --secondry: #FDF9F2;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondry: var(--secondry);
  --font-mono: var(--font-sometype-mono);
  --font-sans: var(--font-instrument-sans);
  --font-serif: var(--font-instrument-serif);
}

html{
  width: 100%;
  height: 100%;
}

body {
  width: 100%; 
  height: 100%;
  background: black;
  /* color: var(--foreground); */
  /* font-family: var(--font-mono); */
}