@import url(https://fonts.googleapis.com/css?family=Special+Elite:400);
@import "tailwindcss";

:root {
  --backgroud-color: #000000;
  --foreground-color: #fff9e9;
  --background: #fdf9f2;
  --foreground: #fff9e9;
  --primary: #002bba;
  --secondry: #fdf9f2;
  --font-mono: "Special Elite", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondry: var(--secondry);
  --font-mono: var(--font-special-elite);
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--backgroud-color);
  color: var(--primary);
  font-family: var(--font-mono);
}
